<head>
    <meta charset="UTF-8">
      <style>
        body {
          font-size: 250%;
        }
      </style>
</head>
<body>
<div class="static-page">
    <p class="paragraph">Food is the one thing that unifies us every day. We need it, we love it and we eat it. It brings us together and it sustains us. The aroma and the imagery of food encourages us to eat more and make more, but as we make more we throw more of it away. What if, instead of throwing it away, we could share it with friends and strangers alike?</p>
    <p class="paragraph">There is nothing better than a home cooked meal because they are meals cooked with love. Whether it be Nona’s Lasagne, Harry’s Fish Curry, Auntie’s Roast or Uncle John’s Gnocchi these meals should be shared. They are too good to waste.</p>
    <p class="paragraph">We created the MealsAround website and app to provide a virtual gateway for communities to share food cooked with love. Communities come together at mealtimes and with MealsAround you can now search for a home cooked meal in your area or you might even like to become one of the many that sell their home cooked meals as well.</p>
    <p class="paragraph">MealsAround is available in iOS, Android and web.</p>
    <p class="paragraph">
    <img src="https://mealsaround.com/assets/img/aboutus.png" class="img-responsive" data-pagespeed-url-hash="2854303000" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </p>
        </div>
</body>
