<head>
    <meta charset="UTF-8">
      <style>
        body {
          font-size: 250%;
        }
      </style>
</head>
<body>
<div class="static-page refund-page">
                    <h3>What is MealsAround's Refund Policy?</h3>
                    <p>
                        If your seller has cancelled your order, you can transfer your payment to a new
                        MealsAround order or request a refund.
                    </p>
                    <p>
                        If you experience a delivery issue that prevents you from being able to pick-up an
                        order with MealsAround, and you’re unable to resolve with your seller, our “Seller
                        Refund Policy” may be applied in certain circumstances.

                        Eligible delivery issues <br>

                        Submit a valid claim for refund <br>
                    </p>
                    To submit a valid claim for your order, you are required to: <br>
                    <ul>
                        <li>
                        Contact us within 24 hours of check-in to document the issue and place a hold
                        on the seller’s payment. Include photographs or other evidence of the issue as
                        part of your claim.
                        </li>

                        <li> Be responsive to our requests for additional information and cooperation.</li>

                        <li>Not have directly or indirectly caused the “Delivery Issue” .</li>

                        <li>Have used reasonable efforts to remedy the circumstances of the “Delivery
                        Issue” with the host prior to making a claim, including messaging your seller
                        on MealsAround to notify them of the issue. We'll verify this in your account.</li>
                    </ul>
                    <p>
                    Review the “Seller Refund Policy Terms” for more details, including more
                    information on what qualifies as a delivery issue.</p>
                </div>
</body>
