<head>
    <meta charset="UTF-8">
      <style>
                body {
          font-size: 250%;
        }
      </style>
 </head>
<body>
<div class="static-page">
    <h3>MealsAround’s Nondiscrimination Policy: <br>
        Our Commitment to Inclusion and Respect</h3>
    <p>MealsAround is, at its core, an open community dedicated to bringing the world closer together by
        fostering meaningful, shared experiences amongst people from all parts of the world. Our
        community includes millions of people from virtually every country on the globe. It is an incredibly
        diverse community, drawing together individuals of different cultures, values, and norms.
        The MealsAround community is committed to building a world where people from every
        background feel welcome and respected, no matter how far they have travelled from home. This
        commitment rests on two foundational principles that apply both to MealsAround’s seller’s and
        buyers: inclusion and respect. Our shared commitment to these principles enables every member of
        our community to feel welcome on the A MealsAround platform no matter who they are, where they
        come from, how they worship, or whom they love. MealsAround recognises that some jurisdictions
        permit, or require, distinctions amongst individuals based on factors such as national origin, gender,
        marital status or sexual orientation, and it does not require hosts to violate local laws or take actions
        that may subject them to legal liability. MealsAround will provide additional guidance and adjust
        this nondiscrimination policy to reflect such permissions and requirements in the jurisdictions
        where they exist.</p>
    <p>While we do not believe that one company can mandate harmony amongst all people, we do believe
        that the MealsAround community can promote empathy and understanding across all cultures. We
        are all committed to doing everything we can to help eliminate all forms of unlawful bias,
        discrimination, and intolerance from our platform. We want to promote a culture within the
        MealsAround community—sellers, buyers and people just considering whether to use our platform
        —that goes above and beyond mere compliance. To that end, all of us, MealsAround employees,
        seller’s and buyer’s alike, agree to read and act in accordance with the following policy to
        strengthen our community and realise our mission of ensuring that everyone can belong, and feels
        welcome, anywhere.</p>
    <ul>
        <li>Inclusion – We welcome buyers of all backgrounds with authentic hospitality and open
            minds. Joining MealsAround, as a seller or buyer, means becoming part of a community of
            inclusion. Bias, prejudice, racism, and hatred have no place on our platform or in our
            community. While sellers are required to follow all applicable laws that prohibit
            discrimination based on such factors as race, religion, national origin, and others listed
            below, we commit to do more than comply with the minimum requirements established by
            law.</li>
        <li>Respect – We are respectful of each other in our interactions and encounters. MealsAround
            appreciates that local laws and cultural norms vary around the world and expects hosts and
            guests to abide by local laws, and to engage with each other respectfully, even when views
            may not reflect their beliefs or upbringings. MealsAround’s members bring to our
            community an incredible diversity of background experiences, beliefs, and customs. By
            connecting people from different backgrounds, MealsAround fosters greater understanding
            and appreciation for the common characteristics shared by all human beings and undermines
            prejudice rooted in misconception, misinformation, or misunderstanding.</li>
    </ul>
    <p>Specific Guidance for Seller’s in the United States
        As a general matter, we will familiarise ourselves with all applicable federal, state, and local laws
        that apply to the sale of home cooked meals. Seller’s should contact MealsAround customer service
        if they have any questions about their obligations to comply with this MealsAround
        Nondiscrimination Policy. MealsAround will release further discrimination policy guidance for
        jurisdictions outside the United States in the near future. Guided by these principles, our U.S. seller
        community will follow these rules when considering potential buyer’s and selling guests:</p>
    <dl class="block-list">
        <dt class="text-underline">Race, Colour, Ethnicity, National Origin, Religion, Sexual Orientation, Gender Identity, or Marital Status</dt>
        <dd>
            <ul>
                <li>
                    MealsAround seller’s may not
                    <ul>
                        <li>Decline a guest based on race, colour, ethnicity, national origin, religion, sexual
                            orientation, gender identity, or marital status.</li>
                        <li>Impose any different terms or conditions based on race, colour, ethnicity, national
                            origin, religion, sexual orientation, gender identity, or marital status.</li>
                        <li>Post any listing or make any statement that discourages or indicates a preference for
                            or against any guest on account of race, colour, ethnicity, national origin, religion,
                            sexual orientation, gender identity, or marital status.</li>
                    </ul>
                </li>
            </ul>
        </dd>

        <dt class="text-underline">Gender</dt>
        <dd>
            <ul>
                <li>
                    MealsAround seller’s may not:
                    <ul>
                        <li>Decline to sell to a buyer based on gender.</li>
                        <li>Impose any different terms or conditions based on gender.</li>
                        <li>Post any listing or make any statement that discourages or indicates a preference for
                            or against any buyer on account of gender.</li>
                    </ul>
                </li>
            </ul>
        </dd>

        <dt class="text-underline">Disability</dt>
        <dd>
            <ul>
                <li>
                    MealsAround seller’s may not:
                    <ul>
                        <li>Decline a buyer based on any actual or perceived disability.</li>
                        <li>Impose any different terms or conditions based on the fact that the buyer has a disability.</li>
                        <li>Substitute their own judgement about whether a unit meets the needs of a buyer with
                            a disability for that of the prospective buyer.</li>
                        <li>Inquire about the existence or severity of a buyer’s disability, or the means used to
                            accommodate any disability. If, however, a potential buyer raises his or her disability,
                            a seller may, and should, discuss with the potential buyer whether the listing meets
                            the potential buyer’s needs.</li>
                        <li>Prohibit or limit the use of mobility devices.</li>
                        <li>Charge more in fee or other fees for buyer’s with disabilities.</li>
                        <li>Refuse to communicate with buyer’s through accessible means that are available,
                            including relay operators (for people with hearing impairments) and e-mail (for
                            people with vision impairments using screen readers).</li>
                    </ul>
                </li>
                <li>
                    MealsAround seller’s may:
                    <ul>
                        <li>Provide factually accurate information about the unit’s accessibility features (or lack
                            of them), allowing for buyer’s with disabilities to assess for themselves whether the
                            unit is appropriate to their individual needs.</li>
                    </ul>
                </li>
            </ul>
        </dd>

        <dt class="text-underline">Personal Preferences</dt>
        <dd>
            <ul>
                <li>Nothing in this policy prevents a seller from turning down a buyer on the basis of a
                    characteristic that is not protected under the civil rights laws or closely associated
                    with a protected class.</li>
            </ul>
        </dd>

    </dl>
    <p>What happens when a seller does not comply with our policies in this area?<br>
        If a particular listing contains language contrary to this nondiscrimination policy, the seller will be
        asked to remove the language and affirm his or her understanding and intent to comply with this
        policy and its underlying principles. MealsAround may also, in its discretion, take steps up to and
        including suspending the seller from the MealsAround platform.<br>
        If the host improperly rejects buyer’s on the basis of protected class, or uses language
        demonstrating that his or her actions were motivated by factors prohibited by this policy, MealsAround will take steps to enforce this policy, up to and including suspending the seller from
        the platform.<br>
        As the MealsAround community grows, we will continue to ensure that MealsAround’s policies and
        practises align with our most important goal: To ensure that buyer’s and seller’s feel welcome and
        respected in all of their interactions using the MealsAround platform. The public, our community,
        and we ourselves, expect no less than this.</p>
</div>
</body>
