<head>
    <meta charset="UTF-8">
      <style>
        body {
          font-size: 250%;
        }
      </style>
</head>
<body>
<div class="static-page">
    <h4 class="mgbt-20">1. INTRODUCTION</h4>
    <p class="paragraph">Welcome to MealsAround, the online home cooked meals community. Our Platform connects sellers of home cooked meals with local buyers.&nbsp;</p>
    <p class="paragraph"><strong>1.1. Acceptance of terms and conditions:</strong>&nbsp;These terms and conditions are the terms on which we offer you access to the Services and the Platform. By registering as a member of MealsAround you accept these terms and conditions. If you do not accept these terms and conditions, you must refrain from using the Services.</p>
    <p class="paragraph"><strong>1.2. Amendment of terms and conditions:</strong>&nbsp;We may amend these terms and conditions from time to time. We will communicate all changes by announcements on our Website. Occasionally, we may make urgent changes, which will be posted on the Message Board notified you directly via email. Unless otherwise stated, amendments will be effective immediately upon posting of the amended terms and conditions on the Platform. You are responsible for ensuring you are familiar with the latest terms and conditions. Your continued use of the Services represents your agreement to be bound by the terms and conditions as amended.</p>
    <p class="paragraph"><strong>1.3. Terminology:</strong>&nbsp;In these terms and conditions, the following expressions have the meanings set out:</p>
    <p class="paragraph">
    ‘Application’ means any mobile application through which the Services are offered;<br>
    ‘Content’ means text, graphics, images, music, software (excluding the Application), audio, video, information or other materials;<br>
    ‘Listings’ and ‘Listing’ means the particulars of a meal or meals offered by a seller on the Platform;<br>
    ‘meal’, or 'meals' means any food that may be sold through the Platform;<br>
    ‘Order Fees’ means the fees charged by a seller to a buyer for the provision of a meal;<br>
    ‘member’ means a registered member of MealsAround (as a buyer and/or seller);<br>
    ‘Payment Terms’ means the provisions of these Terms regarding payments by buyers, payments to sellers and refunds;<br>
    ‘Personal Information’ means information about an identifiable individual;<br>
    ‘Platform’ means the Website and the Application;<br>
    ‘seller’ includes any person placing a Listing;<br>
    ‘Seller’s Fees’ means the amount payable by MealsAround to a seller, for a meal (being the Order Fees less the Service Fees);<br>
    ‘Services’ means the services offered by us or our subsidiaries, from time to time, including an online marketplace for home cooked meals;<br>
    ‘Service Fees’ means the fees charged by us to sellers, for the Services (which include GST/VAT or other applicable taxes), currently 12% of the Order Fees;<br>
    ‘Terms’ means these Terms and Conditions and any modification or replacement terms;<br>
    ‘we’, ‘us’ and ‘our’ are a reference to MealsAround Pty Ltd;<br>
    'Website' means this website and any other MealsAround website or Platform through which the Services are offered;<br>
    ‘you’ and ‘your’ are a reference to you (as a buyer or seller).</p>
    <h4 class="mgbt-20">2. SPECIFIC WARNINGS&nbsp;</h4>
    <p class="paragraph"><strong>2.1. Compliance:</strong> PLEASE READ THESE TERMS CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS.</p>
    <p class="paragraph">2.2. In particular, sellers should understand how the laws work in their city. There may be local, state or federal laws that restrict their ability to sell home cooked meals. These laws are often part of a city's zoning or administrative codes. In many cities, sellers must register, get a permit, or obtain a license before listing a home cooked meal or accepting orders. Certain types of food ordering may be prohibited altogether. Local and other governments vary greatly in how they interpret and enforce these laws. Penalties may include fines or other enforcement. Sellers should review all relevant local and other laws before posting a Listing on the Platform.</p>
    <p class="paragraph"><strong>2.3. The Services:</strong>&nbsp;We provide an online venue to introduce members who want to buy and sell home cooked meals. We do not take any part in the sale of meals other than by providing our Platform as a venue for members. If a meal is ordered by a buyer and accepted by a seller, a contract of sale will be formed between the buyer and the seller directly. We do not act as agent for either party and do not participate in any sale or transaction between you and other members. We do not have any control over, and are not responsible or liable for, the products or services paid for with our Services. We cannot ensure that a buyer or seller you are dealing with will complete the transaction.</p>
    <p class="paragraph"><strong>2.4. At your own risk:</strong>&nbsp;Transactions and all other contact between you and other members are conducted entirely at your own risk. You agree that we take no responsibility or liability for any misconduct of any of its members including, without limitation, members that have registered under false pretences or who attempt to defraud you. We give no undertakings, representations, or warranties in relation to meals sold or listed on the Platform including:</p>
    <p class="paragraph">(a) as to the content, safety, description, worthiness, quality, or legality of the meals in a Listing;<br>
    (b) as to the accuracy or truth of Listings;<br>
    (c) that any meal, or Service, will meet your requirements or expectations; or<br>
    (d) about the ability of members to complete a transaction.</p>
    <p class="paragraph"><strong>2.5. Disclaimer:</strong>&nbsp;You expressly understand and agree that:</p>
    <p class="paragraph">(a) your use of the Services is at your sole risk. The Platform and Services are provided on an "as is" and "as available" basis. To the maximum extent permitted by law and without limiting clause 2.4, we disclaim and exclude all implied conditions or warranties, including, but not limited to, any warranties of merchantability;<br>
    (b) no advice or information that is obtained by you from us or anyone else shall create any warranty by us that is not expressly stated in the Terms; and&nbsp;<br>
    (c) responsibility for the content of advertisements appearing on the Platform (including hyperlinks to advertisers' own websites) rests solely with the advertisers. The placement of such advertisements on the Website does not constitute our recommendation or endorsement of the advertised product or service. Each advertiser is solely responsible for any representation made in connection with its advertisement.&nbsp;<br>
    (d) while we may facilitate payment for some items by credit card, we are is in no way involved in the transaction itself, and responsibility for any refund rests with the seller.&nbsp;<br>
    (e) while we have systems in place to reduce the risk of credit card fraud, we are not responsible for protecting members from credit card fraud. Our fraud protection systems may from time to time block legitimate credit card payments. In these cases payment will need to be made by other means.</p>
    <p class="paragraph"><strong>2.6. Liability:</strong>&nbsp;You agree that, to the maximum extent permitted by law, any and all liability and responsibility of us to you or any other person under or in connection with these Terms, or in connection with the Services, the Platform, another Member's acts or omissions, or your use of or inability to use, the Services or the Platform, is excluded regardless of whether such liability arises in contract, tort (including negligence), equity, breach of statutory duty or otherwise. Our liability and responsibility is excluded in respect of any and all loss or damage, whether direct or indirect, including, without limitation, loss of profits, loss of data, loss of business or anticipated savings, general and special damages, and consequential and incidental loss.</p>
    <p class="paragraph"><strong>2.7. Indemnity:</strong>&nbsp;You agree to release, indemnify and keep indemnified us from and against all actions, claims, costs (including legal costs and expenses), losses, proceedings, damages, liabilities, or demands suffered or incurred by us to any person arising out of or in connection with your failure to comply with the Terms, your failure to complete a transaction, your use of our Platform, your sale or attempted sale of an item prohibited under the Terms, or arising out of any content or item you submit, post, transmit, or make available through the Services.</p>
    <p class="paragraph"><strong>2.8. Breach:</strong>&nbsp;Without limiting any other rights and remedies available to us, we may limit your activities on the Platform, remove your, listings or other content, warn other members of your actions, issue a warning to you, suspend or terminate your membership, or refuse to provide our Services to you if you breach the Terms, in particular, your obligations under Clause 4, or where we consider it appropriate.</p>
    <h4 class="mgbt-20">3. MEMBERSHIP</h4>
    <p class="paragraph"><strong>3.1. Becoming a Member:</strong>&nbsp;Becoming a member is free. You may only register as a member if you can form a legally binding contract that is enforceable against you. You must be at least 18 years old. By registering as a member, you warrant that you can form a legally binding contract.</p>
    <p class="paragraph"><strong>3.2. Accurate Information:</strong>&nbsp;You warrant that you have provided complete, accurate and current personal information when registering as a member. You must maintain and update your personal information held by us to ensure it is kept current at all times. We may phone or mail you to verify these details. You must not register as a member under multiple identities or personas (whether false or not). However, at our discretion, you may create a business membership in addition to your personal membership.</p>
    <p class="paragraph"><strong>3.3. Termination of membership:</strong>&nbsp;We reserve the right to decline to register or to terminate your membership without entering into further discussions with you. Without limiting the foregoing, we may terminate your membership if a serious complaint or multiple complaints are received about you from other members, if you breach the Terms, if you impersonate another member, or if we, at our sole discretion, deem your behaviour to be unacceptable. Members who have registered under multiple aliases will have all of their aliases disabled. When limiting your activities on the Platform, we may consider offsite conduct such as prior criminal convictions, insolvency, or any other conduct that puts our community or systems at risk. In the event of termination, you also agree that you will not open or attempt to open any new MealsAround memberships. You may at any time close your MealsAround membership by giving us three days' notice in writing. If you close your membership, or if we terminate it, your ability to use the Platform will end. To the extent that you continue to access the site, clauses 2.4-2.7, 10.3 and 12.7 of the Terms continue to apply.&nbsp;</p>
    <p class="paragraph"><strong>3.4. Security of your login information:</strong>&nbsp;You are responsible for keeping your login information, including your email address and password, secret and secure. Without limiting the foregoing, you agree:</p>
    <p class="paragraph">(a) not to permit any other person to use your user name or membership; and&nbsp;<br>
    (b) not to disclose, or provide to any other person, your password, email address, date of birth or any other information in connection with your membership that may allow them to gain access to your membership.</p>
    <p class="paragraph"><strong>3.5. Emails and newsletters:</strong>&nbsp;We will send you emails relating to your membership, transactions and other activities on the Platform, and for promoting and marketing other MealsAround products and Services to you. We may also send regular electronic newsletters to members. Newsletters will contain clear and obvious instructions for how you can unsubscribe from the mailing list.</p>
    <h4 class="mgbt-20">4. LISTINGS</h4>
    <p class="paragraph"><strong>4.1.</strong> As a selling Member, you may create Listings. To create a Listing, you will be asked a variety of questions about the meal/s to be listed, including, but not limited to, the number of meals, the preferred delivery, the preferred pick-up time and availability of the meals and pricing (Order Fees) and related rules and financial terms. In order to be featured in Listings via the Platform, all sellers must have valid physical addresses. Listings will be made publicly available via the Platform. You understand and agree that the placement or ranking of Listings in search results may depend on a variety of factors, including, but not limited to, buyers and sellers preferences, ratings and/or ease of purchase.</p>
    <p class="paragraph"><strong>4.2.</strong> You acknowledge and agree that you alone are responsible for any and all Listings and Content you post. Accordingly, you represent and warrant that any Listing you post and the sale of meals in a Listing you post:</p>
    <p class="paragraph">
    (a) will not breach any agreements you have entered into with any third parties, and <br>
    (b) will be in compliance with all applicable laws (such as zoning laws and laws governing the sale of home cooked meals), tax requirements, intellectual property laws, and rules and regulations that may apply to any cooking, storage and service of meals included in a Listing you post (including having all required permits, licenses and registrations), and <br>
    (c) not conflict with the rights of third parties. </p>
    <p class="paragraph"><strong>4.3.</strong> Please note that we assume no responsibility for a seller’s compliance with any agreements with or duties to third parties, applicable laws, rules and regulations. We reserve the right, at any time and without prior notice, to remove or disable access to any Listing for any reason, including Listings that we, in its sole discretion, consider to be objectionable for any reason, in violation of the Terms, or otherwise harmful to the Platform or Services.</p>
    <p class="paragraph"><strong>4.4.</strong> If you are a Seller, you understand and agree that we do not act as an insurer or as your contracting agent. If a buyer requests a meal from your Listing and purchases a meal from you, any agreement you enter into with such buyer is between you and the buyer and we are not a party to it.</p>
    <p class="paragraph"><strong>4.5.</strong> When you create a Listing, you may also choose to include certain requirements that must be met by the members wishing to purchase your meal, such as requiring members to have a profile picture or verified phone number. Any member wishing to purchase meals included in Listings with such requirements must meet these requirements. More information on how to set such requirements is available via the <strong>“Become a Seller"</strong> section of the Platform.</p>
    <p class="paragraph"><strong>4.6.</strong> If you are a seller, we recommend that you obtain appropriate insurance for the sale of meals. Please review any insurance policy that you may have carefully, and in particular please make sure that you are familiar with and understand any exclusions to, and any deductibles that may apply in relation to such insurance policy.</p>
    <h4 class="mgbt-20">5. ORDERS AND FINANCIAL TERMS FOR SELLERS</h4>
    <p class="paragraph"><strong>5.1.</strong> We collect the Order Fees from the buyer at the time of the order.</p>
    <p class="paragraph"><strong>5.2.</strong> If an order is requested for a meal from your Listing via the Platform, you will be asked to accept or decline the order. When an order is requested via the Platform, we will share with you the first and last name of the buyer who has placed the order.</p>
    <p class="paragraph"><strong>5.3.</strong> If you decline an order, we will send the buyer an sms advising that the seller is unable to fill the order, and we will refund 100% of the Order Fees to the buyer within 24 hours.</p>
    <h4 class="mgbt-20">6. ORDERS AND FINANCIAL TERMS FOR THE BUYERS</h4>
    <p class="paragraph"><strong>6.1.</strong> Order Fees are paid (by credit card or PayPal) at the time an order is made.</p>
    <p class="paragraph"><strong>6.2.</strong> Details of the order (including collection or delivery details) will be displayed at the time of order and can be accessed in the buyer’s order history on the Platform.</p>
    <p class="paragraph"><strong>6.3.</strong> If the seller declines an order we will notify you by sms and then refund 100% of your Order Fees, within 24 hours.</p>
    <p class="paragraph"><strong>6.4.</strong> The seller, not us, is solely responsible for honouring any confirmed orders and making available any meals ordered through the Platform. If you, as a buyer, choose to enter into a transaction with a seller for the order of a meal, you agree and understand that you will be required to enter into an agreement with the seller and you agree to accept any terms, conditions, rules and restrictions associated with such meal orders imposed by the seller. You acknowledge and agree that you, and not us, will be responsible for performing the obligations of any such agreements, that we are not a party to such agreements, and that, with the exception of our payment obligations pursuant to the Payment Terms, we (inclusive of all subsidiaries) disclaims all liability arising from or related to any such agreements.</p>
    <h4 class="mgbt-20">7. SERVICE FEES </h4>
    <p class="paragraph"><strong>7.1.</strong> In consideration for the use of our online marketplace and Platform, we charge Service Fees. MealsAround collects these Service Fees in respect of the Order Fees.</p>
    <p class="paragraph"><strong>7.2.</strong> MealsAround deducts the Services Fees from the Order Fees before remitting the balance to the Seller as described in the Payment Terms.</p>
    <p class="paragraph"><strong>7.3.</strong> MealsAround reserves the right to change the fees charged for any of our Services at any time. In the event that we introduce a new Service, the fees for that Service are effective at the launch of the Service, unless otherwise stated.</p>
    <p class="paragraph"><strong>7.4.</strong> Before listing an item, you should review MealsAround's fees to ensure you are aware of the fees that you will incur.</p>
    <h4 class="mgbt-20">8. PAYMENT OF SELLER’S FEES</h4>
    <p class="paragraph"><strong>8.1.</strong> Buyers pay MealsAround using credit cards via Stripe or Paypal. Collection and crediting is done at the time of ordering.</p>
    <p class="paragraph"><strong>8.2.</strong> MealsAround is a global marketplace and payments are made in the respective country’s currency.</p>
    <p class="paragraph"><strong>8.3.</strong> Payment of Seller’s Fees is made electronically to the seller’s PayPal account.</p>
    <p class="paragraph"><strong>8.4.</strong> Test deposits are made to verify that you entered all information correctly.</p>
    <p class="paragraph"><strong>8.5.</strong> Sellers will be paid by MealsAround once a week on Thursday, for transactions completed during the previous week ending Sunday at 12:00 midnight UTC.</p>
    <h4 class="mgbt-20">9. CANCELLATIONS AND REFUNDS</h4>
    <p class="paragraph"><strong>9.1.</strong> Once confirmed, orders are not refundable, other than in accordance with these Terms.</p>
    <p class="paragraph"><strong>9.2.</strong> If a Seller cancels a confirmed order made via the Platform or fails to supply a confirmed order, MealsAround will refund the Order Fees to the buyer.</p>
    <p class="paragraph"><strong>9.3.</strong> If, as a seller, you cancel a confirmed order, you agree that we may post a review on your Listing, indicating that an order was cancelled.</p>
    <h4 class="mgbt-20">10. GENERAL MEMBER RULES</h4>
    <p class="paragraph"><strong>10.1. All Members:</strong> All Listings transactions and communications made through MealsAround shall be made in good faith.</p>
    <p class="paragraph"><strong>10.2.</strong> You must not damage, interfere with or harm the Platform or Services, or any network, or system underlying or connected to them, or attempt to do so.</p>
    <p class="paragraph"><strong>10.3.</strong> You may not use a robot, spider, scraper or other unauthorised automated means to access the Platform or information featured on it for any purpose.</p>
    <p class="paragraph"><strong>10.4.</strong> You must list prices in the currency of your location and include GST, VAT or other relevant taxes in the price. All tax obligations are the responsibility of the seller.</p>
    <p class="paragraph"><strong>10.5.</strong> You must not complete a transaction outside of our process or otherwise seek to avoid our fees. Attempts by you to avoid fees, may result in us suspending or terminating your membership at our discretion.</p>
    <p class="paragraph"><strong>10.6.</strong> You must not use the Services or the Platform to promote items for sale outside the Services.</p>
    <p class="paragraph"><strong>10.7.</strong> You are responsible for any actions taken through your membership. Our memberships are not transferable and therefore cannot be sold, leased, lent or traded without specific written authorisation from us.</p>                    <p class="paragraph"><strong>10.8. Seller’s obligations:</strong> You will only enter Listings that are accurate, current, complete, and include all relevant information about the terms of sale, payment terms, delivery methods and who bears the cost of delivery.</p>
    <p class="paragraph"><strong>10.9.</strong> You will only place Listings for meals that you will be able to provide and are legally entitled to sell.</p>
    <p class="paragraph"><strong>10.10.</strong> If you choose to create a Listing with us, you understand and agree that your relationship with us is limited to being a member and an independent, third-party contractor, and not an employee, agent, joint venturer or partner of ours for any reason, and you act exclusively on your own behalf and for your own benefit, and not on behalf of us, or for our benefit. We do not control, and have no right to control your Listing, your offline activities associated with your Listing, or any other matters related to any Listing, that you provide. As a member you agree not to do anything to create a false impression that you are endorsed by, partnering with, or acting on behalf of or for our benefit, including by inappropriately using any of our intellectual property.</p>
    <p class="paragraph"><strong>10.11.</strong> All listings must comply with local laws. You must not list anything that is illegal, offensive (including anything of a defamatory, pornographic, or racially or ethnically objectionable nature), stolen, or unsafe, anything which infringes copyright or other intellectual property rights, items which have been illegally imported or which would require illegal import or export in order to complete the transaction, or any item of which the sale is prohibited by, or violates any, law. You are responsible for ensuring that any listing by you does not breach this clause. You agree that we may disclose your Personal Information, including your name and contact details, to the relevant authorities, parties and/or the applicable intellectual property right holders (or their representatives) if we consider that you are in breach of this clause at any time.</p>
    <p class="paragraph"><strong>10.12.</strong> Listings are not pre-screened for content. We reserves the right to remove any Listing that it deems unsuitable or in breach of the Terms.</p>
    <p class="paragraph"><strong>10.13.</strong> You agree to your email address being provided to the buyer when your transaction has been effected.</p>
    <p class="paragraph"><strong>10.14.</strong> You must promptly provide the sold meal to the buyer on completion of the transaction.</p>
    <p class="paragraph"><strong>10.15.</strong> You must not charge unreasonable amounts for delivery.</p>
    <p class="paragraph"><strong>10.16.</strong> To help maintain quality Listings, we reserve the right to suspend sellers who have received 3 or more negative ratings from buyers resulting on less than a 3 star rating.</p>
    <p class="paragraph"><strong>10.17.</strong> Buyer’s obligations: Your orders are not retractable once the sale has been accepted. You must only place an order if you intend to buy the relevant meal at the agreed price.</p>
    <p class="paragraph"><strong>10.18.</strong> You must make full and prompt payment for any item you buy.</p>
    <p class="paragraph"><strong>10.19.</strong> You also agree to your email and (where relevant) your delivery address being provided to the seller on when a meal has been purchased.</p>
    <p class="paragraph"><strong>10.20. Feedback:</strong> Feedback is provided for the purpose of facilitating trading between members on the Platform. Feedback you provide on other members must not contain offensive, defamatory, retaliatory or inappropriate language or content. We may remove any feedback that we consider to be offensive, defamatory, retaliatory or inappropriate.</p>
    <p class="paragraph"><strong>10.21.</strong> You may only give member feedback that relates to a specific transaction. You must not post feedback on a transaction that does not relate to that specific transaction.</p>
    <p class="paragraph"><strong>10.22.</strong> You must not post feedback about yourself or include any contact details or personal information in your feedback.</p>
    <h4 class="mgbt-20">11. GENERAL PROVISIONS</h4>
    
    <p class="paragraph"><strong>11.1. System integrity:</strong>&nbsp;We will use its reasonable endeavours to ensure the availability of the Platform and Services, subject to any downtime required for maintenance. However, we take no responsibility for any system unavailability, or for any loss that is incurred as a result of Platform or Services being unavailable. Further, we assume no responsibility for the corruption of any data or information held by us.&nbsp;</p>
    
    <p class="paragraph"><strong>11.2. Resolution of disputes:</strong>&nbsp;As we are not a party to any sale or transaction between you and another member, you agree not to involve, or attempt to involve, us in any dispute or in the resolution of disputes that arise between you and another member as a result of the Services provided. If you wish to take proceedings against another member, you can contact us for a statutory declaration form, which must be completed before we will consider releasing anyone else's information to you. You may only request contact details for the sole purpose of making a claim.&nbsp;</p>
    
    <p class="paragraph"><strong>11.3. Force Majeure:</strong>&nbsp; we have no liability for any lack of performance, unavailability or failure of the Services or the Platform, or for any failure by us to comply with the Terms where the same arises from any cause reasonably beyond our control.&nbsp;</p>
    
    <p class="paragraph"><strong>11.4. No waiver:</strong>&nbsp;If we do not exercise or enforce any right available to us under these Terms, it does not constitute a waiver of those rights.&nbsp;</p>
    
    <p class="paragraph"><strong>11.5. Partial Invalidity:</strong>&nbsp;If any provision of the Terms becomes or is held to be invalid, unenforceable or illegal for any reason, and in any respect, that provision shall be severed from the remaining Terms, which shall continue in full force and effect.&nbsp;</p>
    
    <p class="paragraph"><strong>11.6. Governing Law:</strong>&nbsp;The laws of Australia govern the Terms.</p>
    
    <p class="paragraph"><strong>11.7. Intellectual property rights:</strong>&nbsp;We (and our licensors or suppliers, as the case may be) own all proprietary and intellectual property rights in the Platform (including text, graphics, logos, icons and sound recordings) and the software and other material underlying and forming part of the Services and the Platform.</p>
    
    <p class="paragraph"><strong>11.8.</strong> You may not without our prior written permission, in any form or by any means:</p>
    <p class="paragraph">(a) Adapt, reproduce, copy, store, distribute, print, display, perform, publish or create derivative works from any part of the Platform; or<br>
    (b) Commercialise, copy, or on-sell any information, or items obtained from any part of the Platform.</p>
    <p class="paragraph"><strong>11.9. Entire agreement:</strong>&nbsp;These Terms supersede all previous conditions, understandings, commitments, agreements and representations whatsoever whether oral or written, and constitutes the entire agreement, between the parties, relating to the subject matter of these Terms.</p>
    
    <p class="paragraph"><strong>11.10. Privacy:</strong>&nbsp;We collect, use and disclose personal information about you, as outlined in detail within our&nbsp;privacy policy in these Terms.</p>
    
    <h4 class="mgbt-20">12. CODE OF CONDUCT</h4>
    
    <p class="paragraph"><strong>12.1.</strong> This code sets out principles and behaviours that we reasonably expect of buyers and sellers participating in online auctions.</p>
    
    <p class="paragraph"><strong>12.2.</strong> We expect buyers and sellers to:</p>
    
    <p class="paragraph">(a) Conduct themselves honestly and in good faith at all times.<br>
    (b) Comply with all laws, including sale of goods and intellectual property laws.<br>
    (c) Comply with our&nbsp;Terms.</p>
    
    <p class="paragraph"><strong>12.3.</strong> Sellers agree to:</p>
    
    <p class="paragraph">(a) Describe meals fully and accurately and answer questions promptly.<br>
    (b) Respond to emails as soon as possible, and within two working days.<br>
    (c) Not place negative feedback without making best endeavours to resolve issues through email first.<br>
    (d) Not engage in retaliatory feedback or behaviour.<br>
    (e) Not subsequently spam previous buyers.</p>
    
    <p class="paragraph"><strong>12.4.</strong> Buyers agree to:</p>
    
    <p class="paragraph">(a) Respond to emails as soon as possible, and within two working days.<br>
    (b) Not place negative feedback without making best endeavours to resolve issues through email first.<br>
    (c) Not engage in retaliatory feedback or behaviour.<br>
    (d) Not subsequently spam previous sellers.</p>
    
    <h4 class="mgbt-20">13. PRIVACY</h4>
    
    <p class="paragraph"><strong>13.1.</strong> We have has created this privacy statement in order to demonstrate our firm commitment to privacy. In this policy we explain how we handle information about you that we gather, store and use.</p>
    
    <p class="paragraph"><strong>13.2.</strong> Use of your information: We&nbsp;do not&nbsp;sell or rent your Personal Information to third parties.</p>
    
    <p class="paragraph"><strong>13.3.</strong> We collect information about you through your use of the Services and the Platform, including your registration details and information relating to your use of the Platform and the Services, such as the content you access (like Listings you have viewed and the search queries you input).</p>
    
    <p class="paragraph"><strong>13.4.</strong> We use the information we collect to help us provide the Services to you, to verify your identity, to enforce or apply our Terms, to protect the rights, property, or safety of ourselves, our users, or others, for internal research purposes, for promoting and marketing other MealsAround products and Services to you, and for any other use that you authorise.</p>
    
    <p class="paragraph"><strong>13.5.</strong> Your membership's trading history is published in your feedback if someone places feedback about you.</p>
    
    <p class="paragraph"><strong>13.6.</strong> We release Personal Information only:</p>
    <p class="paragraph">(a) when we believe release is appropriate for legal compliance and law enforcement (including to government agencies with statutory law enforcement responsibilities);<br>
    (b) to facilitate court proceedings;<br>
    (c) to enforce or apply our Terms; or<br>
    (d) to protect the rights, property, or safety of ourselves, our users, or others.</p>
    
    <p class="paragraph"><strong>13.7.</strong> If we have reason to believe that you have used another person’s payment card or payment details without their permission or knowledge, we may disclose your information relating to the transaction to that person or their bank.</p>
    
    <p class="paragraph"><strong>13.8.</strong> You can contact us to ask whether your information has been provided, or with any other privacy-related question.</p>
    
    <p class="paragraph"><strong>13.9.</strong> Where we use third parties to undertake services, we may provide those third parties with some of your information if it is required to fulfil those services. For example, we use third parties to send you letters for address verification, to provide you with shipping services or to conduct research for us to ensure the Services we provide you are relevant and personalised to your interests. We also use third party software (such as customer relationship management, marketing automation and accounting software) that holds your information, sometimes overseas. We require any third party to undertake strict precautions to protect your information against unauthorised use or disclosure.</p>
    
    <p class="paragraph"><strong>13.10.</strong> If you wish to take disputes tribunal (or other) proceedings against another member, you can contact us for a statutory declaration form which must be completed before we will consider releasing anyone else's information to you. You may only request contact details for the sole purpose of making a claim.</p>
    
    <p class="paragraph"><strong>13.11.</strong> Listing content: When you create a Listing, we make certain information publicly available (for example, the listing description, images, your user name and feedback score and in certain cases your contact details). We refer to this broadly as listing content. Listing content varies depending on the type of listing, and the category. This section of the policy explains what we and others do with listing content.</p>
    
    <p class="paragraph"><strong>13.12.</strong> Listing content becomes public when you publish it using our Service. Once you publish it, listing content becomes available via the internet, including to users of our API. Listing content may appear in applications and on other websites.</p>
    
    <p class="paragraph"><strong>13.13.</strong> We retain all listing content after listings have expired. Listing content may also persist elsewhere when third parties access and cache listings while they are live. For example, Google do this when they index the web for searching and so old listings may survive in Google searches for a period of time.</p>
    
    <p class="paragraph"><strong>13.14.</strong> In certain cases we have commercial arrangements with third parties to display or use listing content. We also use some listing content to enrich our other Services.</p>
    
    <p class="paragraph"><strong>13.15. Email:</strong> It is our policy to send our members email throughout the auction process and other email they elect to receive, in addition to customary business communications (payment confirmations, etc.). Further, it is our policy to immediately remove any member from any mailing list upon the member's request. In addition, we will send newsletters and other communications to members. Newsletters will contain clear and obvious instructions for how the member can remove himself or herself from that mailing list.</p>
    
    <p class="paragraph"><strong>13.16.</strong> We do use email as a means of receiving feedback from our members, and we encourage you to&nbsp;email us with your questions or comments.</p>
    
    <p class="paragraph"><strong>13.17. Membership registration:</strong> Our site's registration form requires you to provide us contact information and may also require demographic information. We may use your contact information from the registration form to send you information about our company and promotional material from some of our affiliated partners. Your contact information is also used to contact you when necessary.</p>
    
    <p class="paragraph"><strong>13.18. Managing your Personal Information:</strong> You have the right to access and correct your information.&nbsp;Contact us&nbsp;if you wish to access or update your Personal Information, including changing your email address, password, phone number, etc. When you update your details we will store your old details to ensure compliance with our&nbsp;Terms&nbsp;- specifically the use of one account per member.</p>
    
    <p class="paragraph"><strong>13.19.</strong> If you wish to close your account and delete any Personal Information you have submitted to us, please contact us to make that request. We consider each request for deletion on a case by case basis taking into account our legal obligations to retain certain information.</p>
    
    <p class="paragraph"><strong>13.20.</strong> Credit and debit card security: We work diligently to protect the security of your information, including credit and debit card information. We protect your credit and debit card information during transmission by using the Secure Sockets Layer (SSL) protocol, which encrypts your information when transmitted over the Internet. MealsAround retains card details only for refund purposes.</p>
    
    <p class="paragraph"><strong>13.21. Membership removal:</strong> If you wish to have your registration removed from our directory for any reason, you may send us an email requesting this.</p>
    
    <p class="paragraph"><i>These terms and conditions were last updated 26 July 2017.</i></p>
    
</div>
</body>
